@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
    background: url(./images/Apple.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 85vh;
    flex-wrap: wrap;
    border-radius: 15px;
    background: #202020;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

h3{
    font-size: 1.5rem;
    color: #fff;
    margin-top: 15px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 235px;
    height: 50px;
    margin-top: 30px;
    font-size: 1rem;
    text-align: center;
    background: rgb(255 209 98);
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover{
    transform: scale(1.1);
}

button i{
    padding: 15px;
}

.alert {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    background-color: rgb(255 209 98);
    color: #000;
    font-size: 1rem;
    border-radius: 10px;
    animation: alertAnim 0.5s ease-in-out;
    animation-fill-mode: forwards;
    letter-spacing: 0.8px;
}

@keyframes alertAnim {
    from { top: -100px; opacity: 0; }
    to { top: 0; opacity: 1; }
}


.iphone13{
    width: 295px;
    height: 600px;
    background: url(./images/iphone13.png) no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.iphone14{
    width: 295px;
    height: 600px;
    background: url(./images/iphone14.png) no-repeat;
    background-size: cover;
    border-radius: 15px
}


@media only screen and (max-width: 1010px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .iphone13, .iphone14{
        width: 275px;
        height: 560px;
    }

    .box{
        width: 400px;
        height: 75vh;
        margin: 50px;
    }

    h3{
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 400px) {
    .box{
        width: 300px;
        height: 70vh;
    }

    h3{
        font-size: 1.1rem;
    }

    button{
        width: 200px;
        height: 40px;
    }
}